body {
    text-align: center;
    font-family: 'Lora';
}
article {
    margin-left: 10%;
    max-width: 40em;  
    text-align: left;  
}
pre {
    font-family: monospace;
    background-color: #eee;
    padding: 10px;
}

h1 {
    font-size: 40pt;
}

.authors, .date {
    font-style: italic;
}

.caption {
    font-style: italic;
    font-size: small;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}