* {
	font-family: sans-serif;
	margin: 0px;
}

#avatar-customization {
	position: absolute;
	top: 20%;
	margin-top: -50px;
	width: 100%;
	height: 100px;
	text-align: center;
}

.avatar-background {
	padding: 20px;
	background: rgba(255, 255, 255, 0.75);
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.color-grid {
	margin-top: 25px;
	display: grid;
	padding: 0 4em 0 4em;
	grid-template-columns: repeat(3, 1fr);
	gap: 0px;
	grid-auto-rows: minmax(100px, auto);
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

#emojis{
	position: absolute;
}